.ct-wrappe {
  position: relative;
  width: Min(21rem, 100%);

  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  background-color: var(--scondary-color);
}
.ct-top {
  padding: 1rem;
  color: white;
  border-bottom: 1px solid black;
}
.ct-center {
  flex-grow: 1;
  overflow: auto; padding: 10px 10px 5rem 10px;
  .chats {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
   
  }
  .chat {
    padding: 10px;
    border-radius: 8px;
  }
  .c-right {
    background-color: var(--primary-color);
    align-self: flex-end;
  }
  .c-left {
    align-self: flex-start;
    background-color: var(--color-violet);
  }
  .text {
    display: inline-block;
    color: white;
    overflow-wrap: anywhere;
  }
}

.ct-bottom {
  display: flex;
  height: 2.5rem;
  flex-shrink: 0;
  .ct-input {
    width: 100%;
    padding-left: 1rem;
    outline: none;
  }
  .ct-sent-button {
    width: 6rem;
    background-color: var(--color-violet);
    border: none;
    color: white;
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  .ct-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    background-color: #00000027;
  }
  .ct-wrappe {
    width: Min(21rem, 85%);
  }
  .ct-close {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
  }
}
