/** @format */

.sr-container {
  height: 100%;
  max-width: 21rem;
  // position: fixed;
  // right: 0;
  // top: 0;
  flex-shrink: 1;
  background-color: var(--scondary-color);
  border-radius: 5px;
}
.sr-wrappe {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--scondary-color);
}
.sr-top {
  padding: 1rem;
  color: white;
  border-bottom: 1px solid black;
}
.sr-center {
  flex-grow: 1;
  overflow: auto;
  .chats {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px 10px 3rem 10px;
  }
  .chat {
    padding: 10px;
    border-radius: 8px;
  }
  .c-right {
    background-color: var(--primary-color);
    align-self: flex-end;
  }
  .c-left {
    align-self: flex-start;
    background-color: var(--color-violet);
  }
  .text {
    display: inline-block;
    color: white;
    overflow-wrap: anywhere;
  }
}

.sr-bottom {
  display: flex;
  flex-shrink: 0;
  height: 2.5rem;

  .sr-input {
    flex-grow: 1;
    outline: none;
    padding: 0 10px;
    font-size: 15px;
  }
  .sr-sent-button {
    width: 5rem;
    background-color: var(--color-violet);
    border: none;
    color: white;
    font-size: 1rem;
  }
}
