.join-room-container {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.03);
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
}
.jr {
  display: flex;
  flex-direction: column;
  width: Min(28rem, 100%);
  row-gap: 1rem;
  padding: 1rem;
}

.jr-label {
  color: #ffffff;
  font-size: 20px;
  font-family: var(--game-font);
}
.jr-input {
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  font-size: 1.2rem;
  border: 1px solid #ffffff;
  background-color: var(--primary-color);
  font-family: var(--game-font);
  padding-left: 1rem;
  color: #ffffff;
}

.jr-button {
  width: Min(100%, 15rem);
  align-self: center;
  height: 2.5rem;
  border-radius: 8px;
  border: none;
  background-color: var(--color-violet);
  color: white;
  font-size: 18px;
  font-family: var(--game-font);
  cursor: pointer;
}
